[user]
	name = kayYZ1
	email = overek7133@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = store
[core]
	editor = nvim
  autocrif = input
  whitespace = fix
[diff]
  external = difft
